.login {
    background-image: url('../../../public/warehouse_bw.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-color: #fffefe;
}